<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>kPHP</string>
	<key>uuid</key>
	<string>A58E596D-5D5C-476B-A8BD-C9085C16F2E3</string>
</dict>
</plist>
